<div class="animated fadeIn">
    <div class="full-page-header">
        <div class="back-arrow" (click)="BackToList()">
            <i class="fa fa-chevron-left"></i>&nbsp;<span>Clients</span>
        </div>
        <label class="user-name">{{_userObject.full_name}}</label>
    </div>
    <div class="adjust-view">
        <div class="row">
            <div class="col-md-6" style="background-color: #f1f1f1;">
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>
                                <h6>Name</h6>
                            </label>
                            <input type="text" class="form-control" value="Kathleen Pate" />
                        </div>
                        <div class="form-group">
                            <label>
                                <h6>Email</h6>
                            </label>
                            <input type="text" class="form-control" value="kpate5@yahoo.com" />
                        </div>
                        <div class="form-group">
                            <label>
                                <h6>Last Login</h6>
                            </label>
                            <input type="text" class="form-control" value="May 20, 2020" />
                        </div>
                        <div class="form-group">
                            <label>
                                <h6>Address</h6>
                            </label>
                            <textarea class="form-control">15006 S Clymar Ave.</textarea>
                        </div>
                        <div class="form-group">
                            <label>
                                <h6>City</h6>
                            </label>
                            <input type="text" class="form-control" value="Camptopn" />
                        </div>
                        <div class="form-group">
                            <label>
                                <h6>State/Province</h6>
                            </label>
                            <input type="text" class="form-control" value="CA" />
                        </div>
                        <div class="form-group">
                            <label>
                                <h6>Postal Code</h6>
                            </label>
                            <input type="text" class="form-control" value="90220" />
                        </div>
                        <div class="form-group">
                            <label>
                                <h6>Birthday</h6>
                            </label>
                            <input type="text" class="form-control" value="September 11" />
                        </div>
                        <div class="form-group">
                            <label>
                                <h6>Gender</h6>
                            </label>
                            <input type="text" class="form-control" value="Female" />
                        </div>
                        <div class="form-group">
                            <label>
                                <h6>Notes</h6>
                            </label>
                            <textarea class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>
                                <h6>Date Added</h6>
                            </label>
                            <input type="text" class="form-control" value="Feb 24, 2020" />
                        </div>
                        <div class="form-group">
                            <label>
                                <h6>Password</h6>
                            </label>
                            <button type="text" class="btn btn-primary" style="width: 100%;border-radius: 100px;">Update</button>
                        </div>
                        <div class="form-group">
                            <label>
                                <h6>Groups</h6>
                            </label>
                            <h6>Not in any groups</h6>
                        </div>
                        <div class="form-group">
                            <label>
                                <h6>Teams</h6>
                            </label>
                            <h6>Not on any teams</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                <div class="col-md-5">
                    <button class="btn btn-primary" style="width: 100%;border-radius: 100px;">Update</button>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>