<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div style="float: left;">
        <strong>Nutritions</strong>
      </div>
      <div style="float: right;display: flex;">
        <button style="background: rgb(38, 153, 251);;width: 100px;" class="btn btn-block btn-primary" type="button" (click)="BackToList()">
          <i class="fa fa-arrow-circle-left fa-lg"></i>&nbsp;Back
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button style="background: rgb(38, 153, 251);; width: 100px;margin-top: -1px;" class="btn btn-block btn-primary" type="button" (click)="AddNew(addNutritions)">
          <i class="fa fa-plus-circle fa-lg"></i>&nbsp;Add
        </button>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-3 text-center" *ngFor='let image of nutritionsData; let i=index'>
          <p>&nbsp;</p>
          <img [src]="image.url" style="width: 100%;" height="250px" (click)="open(i)" />
          <p>&nbsp;</p>
          <p><strong>{{image.name}}</strong></p>
          <p><button style="background: rgb(38, 153, 251);" class="btn btn-sm btn-primary" type="button" (click)="AssignNutrition(Nutrition, image)">
            <i class="fa fa-share fa-lg"></i>&nbsp;Share
          </button></p>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #addNutritions let-modal>
  <div class="modal-header text-center">
    <h4 class="modal-title" id="modal-basic-title">Add Nutritions</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #nutritionsForm="ngForm" novalidate>
      <div class="form-group">
        <label>Title</label>
        <input type="text" id="name" [ngClass]="{ 'is-invalid': name.invalid && (name.dirty || name.touched)}" [(ngModel)]="nutritions.name" #name="ngModel" name="name" required class="form-control" placeholder="Name" />
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
          <div *ngIf="name.errors.required">Name is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" placeholder="Description" rows="3" [ngClass]="{ 'is-invalid': description.invalid && (description.dirty || description.touched)}" [(ngModel)]="nutritions.description" #description="ngModel" name="description" required></textarea>
        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="invalid-feedback">
          <div *ngIf="description.errors.required">Description is required.</div>
        </div>
      </div>
      <div class="form-group">
        <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
          <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
        </div>
        <div class="files-list" *ngFor="let file of files;let i= index">
          <p> {{ file.name }} </p>
          <button class="delete-file" (click)="deleteAttachment(i)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="SaveNutritions(nutritionsForm,addNutritions);" style="height: 50px;width: 100%; border-radius: 100px;">Add Nutritions</button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #Nutrition let-modal>
  <div class="modal-header text-center">
    <h4 class="modal-title" id="modal-basic-title">Assign Nutrition</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="animated fadeIn">
        <div class="card">
          <div class="card-body">
            <div class="col-12 table-responsive">
                <!-- <ag-grid-angular #agGrid style="width: 100%; height: calc(100vh - 30vh)" id="myGrid"
                    class="ag-theme-material" [columnDefs]="columnDefs" [autoGroupColumnDef]="autoGroupColumnDef"
                    [defaultColDef]="defaultColDef" [suppressRowClickSelection]="true" [groupSelectsChildren]="true"
                    [debug]="true" [rowSelection]="rowSelection" [enableRangeSelection]="true" [pagination]="false"
                    [paginationPageSize]="paginationPageSize" [paginationNumberFormatter]="paginationNumberFormatter"
                    [rowData]="rowData" [rowDragManaged]="true" [enableMultiRowDragging]="true"
                    (gridReady)="onGridReady($event)">
                </ag-grid-angular> -->
                <kendo-grid [kendoGridBinding]="gridView" kendoGridSelectBy="id" [selectedKeys]="mySelection"
                    [pageSize]="20" [pageable]="true" [sortable]="true" [groupable]="true" [reorderable]="true"
                    [resizable]="true" [columnMenu]="{ filter: true }" style="height: calc(100vh - 25vh);">
                    <kendo-grid-checkbox-column [width]="45" [headerClass]="{'text-center': true}"
                        [class]="{'text-center': true}" [resizable]="false" [columnMenu]="false" showSelectAll="true">
                    </kendo-grid-checkbox-column>
                    <kendo-grid-column-group title="Clients" [columnMenu]="false">
                        <kendo-grid-column field="full_name" title="Name" [width]="220">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <div class="customer-photo" [ngStyle]="{'background-image' : photoURL(dataItem)}"></div>
                                <div class="customer-name">{{ dataItem.first_name + " " + dataItem.last_name }}</div>
                            </ng-template>
                        </kendo-grid-column>
                        <!-- <kendo-grid-column field="country" title="Country" [width]="100" [class]="{'text-center': true}"
                            [resizable]="false">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <img class="flag" [src]="flagURL(dataItem)" width="30">
                            </ng-template>
                        </kendo-grid-column> -->
                        <!-- <kendo-grid-column field="is_online" title="Status" [width]="100"
                            [class]="{'text-center': true}" [resizable]="false" filter="boolean">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <span *ngIf="dataItem.is_online === true" class="badge badge-success">Online</span>
                                <span *ngIf="dataItem.is_online === false" class="badge badge-danger">Offline</span>
                            </ng-template>
                        </kendo-grid-column> -->
                    </kendo-grid-column-group>
                    <!-- <kendo-grid-column-group title="Performance" [columnMenu]="false">
                        <kendo-grid-column field="rating" title="Rating" [width]="110" [resizable]="false"
                            filter="numeric">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <kendo-rating [value]="dataItem.rating" [max]="5"></kendo-rating>
                            </ng-template>
                        </kendo-grid-column>
                    </kendo-grid-column-group> -->
                    <!-- <kendo-grid-column-group title="Contacts" [columnMenu]="false">
                        <kendo-grid-column field="phone" title="Phone" [width]="130">
                        </kendo-grid-column>
                        <kendo-grid-column field="address" title="Address" [width]="200">
                        </kendo-grid-column>
                    </kendo-grid-column-group> -->
                </kendo-grid>
            </div>
          </div>
        </div>
    </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="assignToUsers();" style="height: 50px;width: 100%; border-radius: 100px;">Assign</button>
      </div>
  </div>
</ng-template>