<div class="animated fadeIn">
    <div class="full-page-header">
        <div class="back-arrow" (click)="BackToList()">
            <i class="fa fa-chevron-left"></i>&nbsp;<span>Clients</span>
        </div>
        <label class="user-name">{{_userObject.full_name}}</label>
    </div>
    <div class="adjust-view">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-3">
                <button class="btn btn-primary" style="width: 100%; border-radius: 100px;"
                    (click)="AddPics(addProgressPics)">Upload Pictures</button>
            </div>
        </div>
        <div class="row">
            <div class="card-body">
                <div class="col-md-3 text-center" *ngFor='let image of _albums; let i=index'>
                    <p>&nbsp;</p>
                    <img [src]="image.thumb" style="width: 100%;" (click)="open(i)" />
                    <p>&nbsp;</p>
                    <p><strong>{{image.date | date:'MMMM dd, yyyy'}}</strong></p>
                </div>    
            </div>
            <div class="card-footer pb-0 pt-3">
                <!-- <jw-pagination [items]="items" (changePage)="getPics($event)"></jw-pagination> -->
                <jw-pagination [items]="items"></jw-pagination>
            </div>
            <!-- <kendo-grid [kendoGridBinding]="gridView" kendoGridSelectBy="id" [selectedKeys]="mySelection"
                    [pageSize]="20" [pageable]="true" [sortable]="true" [groupable]="true" [reorderable]="true"
                    [resizable]="true" [columnMenu]="{ filter: true }" style="height: calc(100vh - 25vh);">
                    <div class="col-md-3 text-center" *ngFor='let image of _albums; let i=index'>
                        <p>&nbsp;</p>
                        <img [src]="image.thumb" style="width: 100%;" (click)="open(i)" />
                        <p>&nbsp;</p>
                        <p><strong>{{image.date | date:'MMMM dd, yyyy'}}</strong></p>
                    </div>        
            </kendo-grid> -->
        </div>
    </div>
</div>
<ng-template #addProgressPics let-modal>
    <div class="modal-header text-center">
        <h4 class="modal-title" id="modal-basic-title">Add Pictures</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <input id="date" class="form-control" placeholder="mm/dd/yyyy" name="date" ngbDatepicker
                        #date="ngbDatepicker" readonly />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="date.toggle()" type="button">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop
                (onFileDropped)="uploadFile($event)">
                <input hidden type="file" #fileInput multiple (change)="uploadFile($event.target.files)">
            </div>
            <div class="files-list" *ngFor="let file of files;let i= index">
                <p> {{ file }} </p>
                <button class="delete-file" (click)="deleteAttachment(i)">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" (click)="modal.close('Save click')"
                    style="height: 50px;width: 100%; border-radius: 100px;">Upload Pictures</button>
            </div>
        </form>
    </div>
</ng-template>