<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div style="float: left;">
        <strong>Workouts</strong>
      </div>
      <div style="float: right;display: flex;">
        <button style="background: rgb(38, 153, 251);;width: 100px;" class="btn btn-block btn-primary" type="button" (click)="BackToList()">
          <i class="fa fa-arrow-circle-left fa-lg"></i>&nbsp;Back
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button style="float: right;background: rgb(38, 153, 251);; width: 100px;margin-top: -1px;" class="btn btn-block btn-primary" type="button" (click)="AddNewVideo()">
          <i class="fa fa-plus-circle fa-lg"></i>&nbsp;Add
        </button>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-3 text-center" *ngFor='let video of workoutVideoChannel; let i=index'>
          <p>&nbsp;</p>
          <img [src]="video.thumbnails.url" height="{{video.thumbnails.height-30}}" width="{{video.thumbnails.width - 50}}" (click)="open(i, VideoModal)" style="border:2px solid #000;margin-bottom: 1%;" />
          <p>{{video.title}}</p>
          <p><strong>{{video.contentDetails.videoPublishedAt | date:'MMMM dd, yyyy'}}</strong><button style="background: rgb(38, 153, 251); margin-left: 20px;" class="btn btn-sm btn-primary" type="button" (click)="AssignWorkout(Workout)">
            <i class="fa fa-plus fa-lg"></i>&nbsp;Share
          </button></p>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #Workout let-modal>
  <div class="modal-header text-center">
    <h4 class="modal-title" id="modal-basic-title">Assign Workout</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="animated fadeIn">
        <div class="card">
          <div class="card-body">
            <div class="col-12 table-responsive">
                <!-- <ag-grid-angular #agGrid style="width: 100%; height: calc(100vh - 30vh)" id="myGrid"
                    class="ag-theme-material" [columnDefs]="columnDefs" [autoGroupColumnDef]="autoGroupColumnDef"
                    [defaultColDef]="defaultColDef" [suppressRowClickSelection]="true" [groupSelectsChildren]="true"
                    [debug]="true" [rowSelection]="rowSelection" [enableRangeSelection]="true" [pagination]="false"
                    [paginationPageSize]="paginationPageSize" [paginationNumberFormatter]="paginationNumberFormatter"
                    [rowData]="rowData" [rowDragManaged]="true" [enableMultiRowDragging]="true"
                    (gridReady)="onGridReady($event)">
                </ag-grid-angular> -->
                <kendo-grid [kendoGridBinding]="gridView" kendoGridSelectBy="id" [selectedKeys]="mySelection"
                    [pageSize]="20" [pageable]="true" [sortable]="true" [groupable]="true" [reorderable]="true"
                    [resizable]="true" [columnMenu]="{ filter: true }" style="height: calc(100vh - 25vh);">
                    <ng-template kendoGridToolbarTemplate>
                        <input placeholder="Search in all columns..." kendoTextBox
                            (input)="onFilter($event.target.value)" />
                        <button kendoGridExcelCommand type="button" icon="file-excel" style="float:right;">Export to
                            Excel</button>
                        <button kendoGridPDFCommand icon="file-pdf" style="float:right;">Export to PDF</button>
                    </ng-template>
                    <kendo-grid-checkbox-column [width]="45" [headerClass]="{'text-center': true}"
                        [class]="{'text-center': true}" [resizable]="false" [columnMenu]="false" showSelectAll="true">
                    </kendo-grid-checkbox-column>
                    <kendo-grid-column-group title="Trainer" [columnMenu]="false">
                        <kendo-grid-column field="full_name" title="Name" [width]="220">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <div class="customer-photo" [ngStyle]="{'background-image' : photoURL(dataItem)}"></div>
                                <div class="customer-name">{{ dataItem.first_name + " " + dataItem.last_name }}</div>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="country" title="Country" [width]="100" [class]="{'text-center': true}"
                            [resizable]="false">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <img class="flag" [src]="flagURL(dataItem)" width="30">
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="is_online" title="Status" [width]="100"
                            [class]="{'text-center': true}" [resizable]="false" filter="boolean">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <span *ngIf="dataItem.is_online === true" class="badge badge-success">Online</span>
                                <span *ngIf="dataItem.is_online === false" class="badge badge-danger">Offline</span>
                            </ng-template>
                        </kendo-grid-column>
                    </kendo-grid-column-group>
                    <kendo-grid-column-group title="Performance" [columnMenu]="false">
                        <kendo-grid-column field="rating" title="Rating" [width]="110" [resizable]="false"
                            filter="numeric">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <kendo-rating [value]="dataItem.rating" [max]="5"></kendo-rating>
                            </ng-template>
                        </kendo-grid-column>
                    </kendo-grid-column-group>
                    <kendo-grid-column-group title="Contacts" [columnMenu]="false">
                        <kendo-grid-column field="phone" title="Phone" [width]="130">
                        </kendo-grid-column>
                        <kendo-grid-column field="address" title="Address" [width]="200">
                        </kendo-grid-column>
                    </kendo-grid-column-group>
                    <kendo-grid-column [width]="30">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <span (click)="EditUsers(dataItem.id)" class="k-icon k-i-edit"
                                style="cursor: pointer !important;"></span>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-pdf fileName="Trainers.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
                    <kendo-grid-excel fileName="Trainers.xlsx"></kendo-grid-excel>
                </kendo-grid>
            </div>
          </div>
        </div>
    </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="assignToUsers(usersListForm);" style="height: 50px;width: 100%; border-radius: 100px;">Assign</button>
      </div>
  </div>
</ng-template>
<ng-template #VideoModal let-modal>
  <div class="modal-body">
    <iframe width="100%" height="600px" [src]="videoURL" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</ng-template>
